<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="description">
	<meta content="Dashboard" name="author">
	<meta content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina" name="keyword">
	<title>demo - report</title><!-- Bootstrap core CSS -->
	<link href="stylesheets/bootstrap.min.css" rel="stylesheet"><!--external css-->
	<link href="stylesheets/font-awesome.css" rel="stylesheet"><!-- Custom styles for this template -->
	<link href="stylesheets/style.css" rel="stylesheet">
	<link href="stylesheets/style-responsive.css" rel="stylesheet">
	<link href="stylesheets/table-responsive.css" rel="stylesheet">
</head>
<body>
	<section id="container">
		<header class="header black-bg">
			<div class="sidebar-toggle-box">
				<div class="fa fa-bars tooltips" data-original-title="Toggle Navigation" data-placement="right"></div>
			</div><!--logo start-->
			<a class="logo"><b>REPO<span>RT</span> DEMO</b></a> <!--logo end-->
		</header><!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
		<!--main content start-->
		<section id="main-content">
			<section class="wrapper">
				<h3><i class="fa fa-angle-right"></i> Generate Report</h3>
				<div class="row mt">
					<div class="col-lg-12">
						<div class="form-panel">
							<form action="#" class="form-horizontal style-form">
								<div class="form-group">
									<label class="control-label col-md-3">Set Date Range</label>
									<div class="col-md-4">
										<div class="input-group input-large">
											<input class="form-control dpd1" name="from" type="text"> <span class="input-group-addon">To</span> <input class="form-control dpd2" name="to" type="text">
										</div><span class="help-block">Select date range</span> <button class="btn btn-theme" type="button" onclick="Find()">Find</button>
									</div>
								</div>
                            </form>
                            <div class="table">
                                <h4><i class="fa fa-angle-right"></i> Table Title</h4>
                                <section id="unseen">
                                    <table class="table table-bordered table-striped table-condensed">
                                        <thead>
                                            <tr>
												<th>user</th>
												<th>session id</th>
												<th>對話</th>
												<th>機器人對話</th>
												<th>時間</th>
                                                <!-- <th>Code</th>
                                                <th>Company</th>
                                                <th class="numeric">Price</th>
                                                <th class="numeric">Change</th>
                                                <th class="numeric">Change %</th>
                                                <th class="numeric">Open</th>
                                                <th class="numeric">High</th>
                                                <th class="numeric">Low</th>
                                                <th class="numeric">Volume</th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>2</td>
                                                <td class="numeric">$1.38</td>
                                                <td class="numeric">-0.01</td>
                                                <td class="numeric">-0.36%</td>
                                                <!-- <td class="numeric">$1.39</td>
                                                <td class="numeric">$1.39</td>
                                                <td class="numeric">$1.38</td>
                                                <td class="numeric">9,395</td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                </section>
                            </div>
						</div><!-- /content-panel -->
					</div><!-- /col-lg-4 -->
				</div><!-- /row -->
			</section><!-- /wrapper -->
		</section>
	</section><!-- js placed at the end of the document so the pages load faster -->
	<script src="javascripts/jquery.min.js"></script> 
	<script src="javascripts/bootstrap.min.js"></script> 
	<script class="include" src="javascripts/jquery.dcjqaccordion.2.7.js" type="text/javascript"></script> 
	<script src="javascripts/jquery.scrollTo.min.js"></script> 
	<script src="javascripts/jquery.nicescroll.js" type="text/javascript"></script> <!--common script for all pages-->
	 
	<script src="javascripts/common-scripts.js"></script> <!--script for this page-->
	<script src="javascripts/dbfind.js"></script>
</body>
</html>